body {
    font-family: 'Lora';
    background: #81706f;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.beige{
    height: 50vh;
    background:#e6a756;
    
    display: flex;
}





