body {
    font-family: 'Lora';
    background: #81706f;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

.tableau-style{
  border-collapse: collapse;
  min-width: 400px;
  width: auto;
  /* box-shadow:0 5px 50px #e6a756 ; */
  cursor: pointer;
  margin: 100px auto;
  border: 2px solid #81706f ;
}
thead tr{
  background-color:rgba(47, 23, 15, 0.65) ; 
  color: white;
  text-align: left;
}
th,td{
  padding: 15px 20px;
}
tbody tr, td, th{
  border: 1px solid white;
}
.nom input{
  width: 400px;
  border-radius: 30px;
  margin: 15px;
  text-align: center;

}
#auteur{
  width: 400px;
  border-radius: 30px;
  margin: 15px;
  text-align: center;

}
#type{
  width: 400px;
  border-radius: 30px;
  margin: 15px;
  text-align: center;

}
.buton{
  margin: 15px;
  width: 100px;
}
.modal-body{
  height: 350px;
}